/Users/dhiwahar_k/Library/CloudStorage/OneDrive-Personal/Desktop/dhiwahar_k/Dhiwahar K Adhithya/Gitlab/ai-generated-text-detection/daigt proper train data
/Users/dhiwahar_k/Library/CloudStorage/OneDrive-Personal/Desktop/dhiwahar_k/Dhiwahar K Adhithya/Gitlab/ai-generated-text-detection/daigt v2 data
/Users/dhiwahar_k/Library/CloudStorage/OneDrive-Personal/Desktop/dhiwahar_k/Dhiwahar K Adhithya/Gitlab/ai-generated-text-detection/llm-detect-ai-generated-text
/Users/dhiwahar_k/Library/CloudStorage/OneDrive-Personal/Desktop/dhiwahar_k/Dhiwahar K Adhithya/Gitlab/ai-generated-text-detection/splited test data